.image{
  height: 100vh;
}
.content{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-content {
  background-color: rgb(2 41 76 / 51%);
  color: #ffffff;
  padding: 10px 20px;
  font-size: 2rem;
  font-family: sans-serif;
  border-radius: 5px;
  letter-spacing: 2px;
}